:root {
  --white: #fff;
  --black: #000;
  --gray: #737373;
  --bg-light: #f5f5f5;
  --gray-light: #e5e5e5;
  --separator: #d4d4d4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("./@fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./@fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./@fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 1px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 18rem;
  color: var(--black);
  text-wrap: balance;
  background-color: var(--white);
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--black);
}

.container {
  max-width: 1440rem;
  width: 100%;
  padding: 24rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding: 32rem;
  }
}
